



<% if @grade_type != "computer" %>
    <h2>Example Answers</h2>
    <h4>This question needs to be graded by a person.  If you include any hints or examples here, students will see them after completing the quiz.</h4>
<% else %>
    <h2>Correct Answers</h2>
    <h4>A student may enter any of the answers below to earn credit.</h4>
<% end %>

<% 6.times do |n| %>
    <% default_text = @question.correct_answers.present? ? @question.correct_answers[n] : "" %>
    <div class="row">
        <input type="text" name="questions[<%= @index.to_i %>][choice_<%= n %>]" id="question_<%= @index %>_choice_<%= n %>" value="<%= default_text %>" />
    </div>
<% end %>