<% index = locals[:index] %>
<% style = locals[:style] %>

<% answer_message = {:multiple_choice => {:computer => "Answer Choices",
                                          :teacher => "Answer Choices"},
                     :select_many => {:computer => "Answer Choices",
                                     :teacher => "Answer Choices"},
                     :fill_in => {:computer => "Correct Answers",
                                  :teacher => "Example Answers"},
                     :interval => {:computer => "Answer Range",
                                    :teacher => "Answer Range"}} %>
<% check_message = {:multiple_choice => {:computer => "Mark the bubble for the correct answer",
                            :teacher => "You've chosen that this question should be teacher-graded (Not recommended for a multiple-choice question.)"},
                    :select_many => {:computer => "Check the box for each correct answer",
                            :teacher => "You've chosen that this question should be teacher-graded (Not recommended for a select-many question.)"},
                    :fill_in => {:computer => "A student may enter any of the answers below to earn credit.",
                            :teacher => "This question needs to be graded by a person.  But if you include hints or examples here, students can see them after completing the quiz."},
                    :interval => {:computer => "Enter the lowest possible answer in the first space and the highest possible answer in the second space.",
                            :teacher => "You've chosen that this question should be teacher-graded (Not recommended for an interval question.)"}} %>



<% blanks_provided = {:multiple_choice => 8, :select_many => 6, :fill_in => 6, :interval => 2} %>

<div class="container singleOption">
    <div class="row">
        <div class="col-sm-5">
            Question <%= index + 1 %>
            
            <h2>Prompt &nbsp;</h2>
            <textarea cols="15" rows="6" id="prompt_<%= index %>" name="questions[<%= index.to_i %>][prompt]"><%= @question.prompt %></textarea>
            
            </br>
            <% if @pictures.present? %>
                <h2>Image</h2>
                <table>
                    <tr>
                        <% checkery = @question.picture.blank? ? "checked" : "" %>
                        <td width="40%"><input type="radio" value="<%= nil %>" name="questions[<%= index %>][picture_id]" id="question_<%= index %>_picture_nil" <%= checkery %> /></td>
                        <td>No Picture</td>
                    </tr>
                    <% @pictures.each do |pic| %>
                        <% checkery = pic == @question.picture ? "checked" : "" %>
                        <tr>
                            <td width="40%"><input type="radio" value="<%= pic.id %>" name="questions[<%= index %>][picture_id]" id="question_<%= index %>_picture_<%= pic.id %>" <%= checkery %> /></td>
                            <td><%= image_tag(pic.image_url(:thumb).to_s) %></td>
                        </tr>
                    <% end %>
                </table>
            <% end %>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <h2><%= answer_message[:"#{@style}"][:"#{@grade_type}"] %></h2>
            <h3><%= check_message[:"#{@style}"][:"#{@grade_type}"] %></h3>
            </br>
            <table class="table-borderless">
                <thead>
                    <th><% if @style != "fill_in" %>Correct? &nbsp;<% end %></th>
                    <th></th>
                </thead>
                <tbody>
                    <% blanks_provided[:"#{@style}"].times do |n| %>
                        <% if @question.style == "fill_in" %>
                            <%# Supply the existing answer choices (or example answers) if they exist. %>
                            <% these_answers = @question.correct_answers %>
                            <% default_text = these_answers.present? ? these_answers[n] : nil %>
                        <% else %>
                            <% default_text = @question.choices[n] if @question.choices %>
                        <% end %>
                        <% checkery = (@question.correct_answers.blank? && n == 0) || @question.correct_answers&.include?(default_text) %>
                        <tr>
                            <div class="row">
                                <td>
                                    <% if @style == "select_many" %>
                                        <%= check_box_tag "questions[#{index}][is_correct][]", n, checked = checkery, :id => "question_#{index}_is_correct_#{n}" %>
                                    <% elsif @style == "multiple_choice" %>
                                        <%= radio_button_tag "questions[#{index}][is_correct][]", n, checked = checkery, :id => "question_#{index}_is_correct_#{n}" %>
                                    <% elsif @style == "interval" %>
                                        <%= hidden_field_tag "questions[#{index}][is_correct][]", n %>
                                    <% end %>
                                </td>
                                <td>
                                    <input type="text"
                                        name="questions[<%= index.to_i %>]choices[]"
                                        id="question_<%= index %>_choice_<%= n %>"
                                        value="<%= default_text %>" />
                                </td>
                            </div>
                        </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
</div>




