<% provide(:title, 'All Files') %>
<% provide(:headerText, 'All Files') %>
<% provide(:headerPic, 'file_pic.png') %>

<%= render 'shared/back-link' %>
<%= render 'shared/headline' %>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @worksheets.each do |worksheet| %>
      <tr>
<td><%= link_to worksheet.name, edit_worksheet_path(worksheet), :class => "plain_link" %></td>
        <td><%= link_to "Download File", worksheet.uploaded_file.to_s, :class => "btn btn-primary" %></td>
        <td><%= render 'shared/delete_and_confirm', object: worksheet %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br />
<br />
<%= link_to "New File", new_worksheet_path, class: "btn btn-primary" %>

