<%= form_for(@objective) do |form| %>
    
    <%= render 'shared/error_messages', object: @objective %>
    <%= form.hidden_field :which_params, :value => "name" %>
  
    <div class="row">
      <div class="col-sm-5 singleOption">
        </br>
        <%= render 'shared/name_in_form', :form => form, :submitted_placeholder => nil %>
        </br>
        <%= form.label "Catchy Name" %>
        <%= form.text_field :catchy_name, class: 'form-control short-field' %>
        </br>
        <%= form.label "Objective Number" %>
        <%= form.text_field :objective_number %>
        </br>
        <%= render 'shared/user_and_extent', form: form %>
      </div>
      
      <div class="col-sm-1"></div>
      
      <div class="col-sm-5 singleOption">
        <%= render 'shared/topic_picker/topic_picker', form: form, lowest_layer: "topic" %>
      </div>
    </div>
    
    </br>
  
    <%= form.submit yield(:button_text), class: "btn btn-primary" %>
<% end %>
