

<% if controller_name == "questions" %>
  <% default_label = action_name == "new" ? Label.find(1) : @question.label %>
<% end %>


<h2 class="collapsing_topics"><%= lowest_layer.capitalize %></h2>
<% @fields.order(:name).each do |field| %>
    <% field_id = field.id %>
    <div class="singleOption field_cell center consultant" which_field="<%= field_id %>">
      <h3><%= field.name %></h3>
    </div>
    <% field.domains.order(:name).each do |domain| %>
      <% domain_id = domain.id %>
      <table class="center">
        <tr>
          <td colspan="2" class="center highlighted domain_cell domain_from_field_<%= field_id %>"
            style="min-width:200px" which_domain="<%= domain_id %>">
            <h4><%= domain.name %></h4>
          </td>
        </tr>
        <% domain.topics.order(:name).each do |topic| %>
          <% topic_id = topic.id %>
          <% if lowest_layer == "topic" %>
            <%= render "shared/topic_picker/topic_radio_button", form: form, topic: topic, field_id: field_id, domain_id: domain_id %>
          <% else %>
            <%= render "shared/topic_picker/label_choosing_layer",
              field_id: field_id, domain_id: domain_id, topic_id: topic_id,
              topic: topic, default_label: default_label %>
          <% end %>
        <% end %>
      </table>
      </br>
    <% end %>
<% end %>
