

<% if controller_name == "questions" %>
  <% default_label = action_name == "new" ? Label.find(1) : @question.label %>
<% end %>


<h2 class="collapsing_topics"><%= lowest_layer.capitalize %></h2>
<% @fields.order(:name).each do |field| %>
    <% field_name = field.name %>
    <div class="singleOption field_cell center consultant" which_field="<%= field_name %>">
      <h3><%= field_name %></h3>
    </div>
    <% field.domains.order(:name).each do |domain| %>
      <% domain_name = domain.name %>
      <table class="center">
        <tr>
          <td colspan="2" class="center highlighted domain_cell domain_from_field_<%= field_name %>" 
            style="min-width:200px" which_domain="<%= domain_name %>">
            <h4><%= domain_name %></h4>
          </td>
        </tr>
        <% domain.topics.order(:name).each do |topic| %>
          <% topic_name = topic.name %>
          <% if lowest_layer == "topic" %>
            <%= render "shared/topic_picker/topic_radio_button", form: form, topic: topic, field_name: field_name, domain_name: domain_name %>
          <% else %>
            <%= render "shared/topic_picker/label_choosing_layer",
              field_name: field_name, domain_name: domain_name, topic_name: topic_name,
              topic: topic, default_label: default_label %>
          <% end %>
        <% end %>
      </table>
      </br>
    <% end %>
<% end %>