<h5 style="color:gray">Question ID #<%= @question.id %></h5>
<h3><strong><%= @riposte.objective.name %></strong>
&emsp; &emsp; Question: <%= @riposte.position %></h3>


<div class="singleOption">
    <div class="row">
        <div class="col-sm-6">
            <%= @question.prompt %>
        </div>
        <div class="col-sm-6">
            <%= image_tag(@question.picture.image_url(:quiz_size).to_s) if @question .picture.present? %>
        </div>
    </div>
</div>
</br>


<%= form_for(@riposte) do |r| %>
    <% if @question.label.grade_type == "teacher" then %>
        <h5 id="teacher_graded_tag">Teacher-Graded Question</h5>
    <% end %>



    <table>
        <div class="container">
            <% if @question.style == "fill_in" || @question.style == "interval" %>
                <p>Your Response:</p>
                <%= r.text_field :stud_answer %>
            <% else  %>

                <% these_choices = @question.choices %>
                <% length_minus_one = these_choices.length - 1 %>
                <% this_order = [*0..length_minus_one] %>
                <% this_order.shuffle! if @question.shuffle %>

                <% these_choices.length.times do |n| %>
                    <% shuf_num = this_order[n] %>
                    <% answer_text = these_choices[shuf_num] %>
                    <% if !answer_text.blank? %>
                        <tr>
                            <td width="50%">
                                <% if @question.style == "multiple_choice" %>
                                    <% should_select = @riposte.stud_answer[0] == answer_text if @riposte.stud_answer %>
                                    <%= radio_button_tag "riposte[stud_answer][]", shuf_num, should_select, :id => "choice_bubble_#{shuf_num}" %>
                                <% elsif @question.style == "select_many" %>
                                    <% should_select = @riposte.stud_answer.include?(answer_text) if @riposte.stud_answer %>
                                    <%= check_box_tag "riposte[stud_answer][]", shuf_num, should_select, :id => "check_box_#{shuf_num}" %>
                                <% end %>
                            </td>
                            <td><%= answer_text %></td>
                        </tr>
                    <% end %>
                <% end %>
            <% end %>
        </div>
    </table>


    </br>
    <% unless @riposte.position == 1 %>
        <%= r.submit "Previous Question", class: "btn", :id => "previous_question" %>
    <% end %>
    
    <%= r.submit "Next Question", class: "btn btn-primary", :id => "next_question" %>

    <% if @riposte.stud_answer.present? %>
        <%= r.submit "Finish Quiz", class: "btn btn-primary", :id => "finish_quiz" %>
    <% end %>
<% end %>
